<%- include('../partials/header'); %>
<h1 class="header-title">Products</h1>
<div class="crud-container">
    <a href="/admin-nfl"><img src="assets/admin-images/nfl-products-admin-banner.png" alt=""></a>
    <p> As an administrator, you now have the ability to manage NFL-related merchandise efficiently and effectively.

    </p>
    <a href="#"><img src="assets/admin-images/nba-products-admin-banner.png" alt=""></a>
    <a href="#"><img src="assets/admin-images/mlb-products-admin-banner.png" alt=""></a>
    <a href="#"><img src="assets/admin-images/nhl-products-admin-banner.png" alt=""></a>
</div>