*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

:root{
    --black: #000;
    --white: #fff;
    --gray: #d3d3d3;
    --gold: #FFD700;
}

.topnav{
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav input{
    width: 50%;
    padding: 10px;
}

.topnav img{
    width: 15%;
}

.categories{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    background-color: var(--gray);
    color: var(--black);
  

}

.categories a{
    margin: 10px;
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}

.categories a:hover{
    font-weight: 600;
}

/* Men/ Women's Section Container */
.mens-womens-container{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;

}



.mens-womens-container img{
    width: 49.5%; /* Adjust the width as needed */
    transition: all 0.5s;
    cursor: pointer;

}

.mens-womens-container img:hover{
    transform:scale(1.05)
}


/* LOGIN & REGISTER PAGE STYLING */
.form-section{
    /* border: 2px solid green; */
    margin: 15px;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

form input{
    margin-top: 15px;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--gray);

}

form select{
    margin-top: 15px;
}

.header-title {
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    font-size: 30px;
}

.full-admin-container{
    display: flex;
    justify-content: center;
  }

  .admin-logo{
    /* border: 2px solid red; */
    width: 20%;
    margin: auto;
    display: flex;
  }

  .admin-logo img{
    width: 100%;
  }
  
  .error-container{
    /* border: 2px solid green; */
    margin-left: -45px;
    margin-top: 15px;
  }

  .crud-container{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
  }

  .crud-container img{
    width: 100%;
    margin-top: 20px;
   margin-bottom: 10px;
   transition: all 1s;
  }

  .crud-container img:hover{
    transform:scale(1.05)
  }

.form-group img{
    width: 20%;
}


.form-group{
    /* border: 2px solid red; */
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.form-group textarea{
    margin: auto;
    text-align: center;
    margin-left: -70px;
}

.form-group option{
    text-align: center;
}

#league{
    width: 30%;
}

/* Tabular Styling */
table{
    width: 100%;
}

table, td{
    border-collapse: collapse;
    border: 2px solid var(--gray);
    padding: 5px 9px;
    text-align: center;
    height: 40px;
    font-size: 15px;
    text-align: center;
    align-items: center;
}



.hdr-cell{
    font-weight: bold;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
}

.actions{
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 5px;
}

.actions a{
    margin: 5px;
}

.view-container{
    margin-top: 20px;
    /* border: 2px solid blue; */
    display: flex;
    width: 100%;
}

.side-image img{
    width: 100%;
}


.view-content-container{
    border: 2px solid var(--black);
    text-align: center;
}


.view-content-container p{
    font-size: 20px;
}

.view-content-container-form{
    border: 2px solid var(--black);
    text-align: center;
    width: 90%;
}

.team-image img{
    width: 50%;
}

.header-links{
    border: 2px solid var(--black);
    background-color: var(--black);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.page-control{
    /* border: 2px solid red; */
    padding: 30px;
    text-align: center;
}

.page-control a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    margin: 15px;
}