*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

:root{
    --black: #000;
    --white: #fff;
    --gray: #d3d3d3;
    --gold: #FFD700;
}

.topnav{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav input{
    width: 50%;
    padding: 10px;
}

.topnav img{
    width: 20%;
}

.categories{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    background-color: var(--gray);
    color: var(--black);
  

}

.categories a{
    margin: 10px;
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}

.categories a:hover{
    font-weight: 600;
}

/* Men/ Women's Section Container */
.mens-womens-container{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;

}



.mens-womens-container img{
    width: 49.5%; /* Adjust the width as needed */
    transition: all 0.5s;
    cursor: pointer;

}

.mens-womens-container img:hover{
    transform:scale(1.05)
}